.title {
    text-align: center;
    margin: 25px 0px 0px 0px ;
}
.title p {
    font-size: 20px;
}
.form {
    margin: auto;
    max-width: 80%;
    text-align: center;
}
.headingInTable{
    font-size:x-large;
    font-weight: 500;
}
#edit-box {
    display: none;
    max-width: 80%;
    margin: auto;
    margin-top: 10px;
}
.form form {
    justify-content: center;
    text-align: center;
    display: inline-grid;
}